#calc-body {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#screen, #enter-row, .number-rows {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}

#screen {
    height: 100px;
    width: 250px;
    margin: 25px auto;
    border: 2px solid black
}

#clear, #enter {
    width: 45%;
}

#btn-clear, #btn-enter {
    width: 100%;
}

.number {
    width: 25%;
}

.btn-num {
    width: 90%
}

#btm-0 {
    width: 50%
}